Repository dmoiseenko/kon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_alpi, build_cloudBuilder

build_alpi:
  stage: build
  image: google/cloud-sdk:316.0.0-alpine
  script:
  - echo $GCP_SERVICE_KEY > gcloud-service-key.json
  - gcloud auth activate-service-account --key-file gcloud-service-key.json
  - gcloud config set project $GCP_PROJECT_ID
  ...

build_cloudBuilder:
  stage: build
  image: google/cloud-sdk:316.0.0-alpine
  script:
  - echo $GCP_SERVICE_KEY > gcloud-service-key.json
  - gcloud auth activate-service-account --key-file gcloud-service-key.json
  - gcloud config set project $GCP_PROJECT_ID
  ...

Fix
  alpi/chart/alpi-0.0.0.tgz
  nami/cloudbuild.yaml
Due: build_alpi

Fix
  alpi/cloudbuild.yaml
Due: build_alpi

Fix
  alpi/cloudbuild.yaml
  nami/cloudbuild.yaml
Due: build_alpi

Fix
  .github/workflows/push_commit_alpi.yml
  .github/workflows/push_commit_nami.yml
  alpi/cloudbuild.yaml
  nami/cloudbuild.yaml
Due: build_alpi

Fix
  chartmuseum/cloudbuild.yaml
  helm/cloudbuild.yaml
Due: none

Fix
  alpi/chart/alpi-0.0.0.tgz
  alpi/lib/apolloClient.js
Due: build_alpi

Fix
  alpi/chart/templates/deployment.yaml
  alpi/pages/api/graphql.js
Due: build_alpi

Fix
  alpi/chart/templates/deployment.yaml
  alpi/components/PostList.js
  alpi/pages/api/graphql.js
Due: build_alpi

Fix
  alpi/cloudbuild.yaml
  chartmuseum/cloudbuild.yaml
  cloudBuilder/cloudbuild.yaml
  nami/cloudbuild.yaml
Due: build_alpi, build_cloudBuilder

Fix
  helm/cloudbuild.yaml
Due: none

Fix
  alpi/chart/templates/deployment.yaml
  alpi/pages/api/graphql.js
  nami/chart/templates/virtual_service-api.yaml
  nami/chart/templates/virtual_service.yaml
Due: build_alpi

Fix
  zoru/sqitch/sqitch.conf
  zoru/sqitch/sqitch.plan
Due: none

Fix
  zoru/sqitch/deploy/appschema.sql
  zoru/sqitch/revert/appschema.sql
  zoru/sqitch/sqitch.conf
  zoru/sqitch/sqitch.plan
  zoru/sqitch/verify/appschema.sql
Due: none

Set default deployment target and always verify.
  zoru/sqitch/sqitch.conf
Due: none

Fix
  zoru/sqitch/deploy/users.sql
  zoru/sqitch/revert/users.sql
  zoru/sqitch/sqitch.plan
  zoru/sqitch/verify/users.sql
Due: none

Fix something
  zoru/sqitch/deploy/appschema.sql
  zoru/sqitch/deploy/users.sql
  zoru/sqitch/revert/appschema.sql
  zoru/sqitch/revert/users.sql
  zoru/sqitch/sqitch.conf
  zoru/sqitch/sqitch.plan
  zoru/sqitch/verify/appschema.sql
  zoru/sqitch/verify/users.sql
Due: none

Fix something
  hasura/chart/.helmignore
  hasura/chart/Chart.yaml
  hasura/chart/templates/_helpers.tpl
  hasura/chart/templates/deployment.yaml
  hasura/chart/templates/service.yaml
  hasura/chart/templates/service_account.yaml
  hasura/chart/templates/virtual_service.yaml
  hasura/chart/values.yaml
  hasura/cloudbuild.yaml
  hasura/src/config.yaml
  hasura/src/metadata/actions.graphql
  hasura/src/metadata/actions.yaml
  hasura/src/metadata/allow_list.yaml
  hasura/src/metadata/cron_triggers.yaml
  hasura/src/metadata/functions.yaml
  hasura/src/metadata/query_collections.yaml
  hasura/src/metadata/remote_schemas.yaml
  hasura/src/metadata/tables.yaml
  hasura/src/metadata/version.yaml
Due: none

Fix something
  .github/workflows/push_commit_hasura.yml
  nami/.dockerignore
  nami/.gitignore
  nami/Dockerfile
  nami/chart/templates/hasura_deployment.yaml
  nami/chart/templates/hasura_service.yaml
  nami/chart/templates/hasura_virtual_service.yaml
  nami/chart/templates/nami_deployment.yaml
  nami/chart/templates/service_account.yaml
  nami/package-lock.json
  nami/package.json
  nami/src/index.js
Due: none

Fix something
  .github/workflows/push_commit_nami.yml
Due: none

Fix something
  .github/workflows/push_commit_nami.yml
  nami/.dockerignore
  nami/Dockerfile
  nami/chart/templates/deployment.yaml
  nami/chart/templates/hasura_deployment.yaml
  nami/chart/templates/service.yaml
  nami/chart/templates/virtual_service.yaml
  nami/chart/values.yaml
  nami/cloudbuild.yaml
  nami/hasura/config.yaml
  nami/hasura/metadata/actions.graphql
  nami/hasura/metadata/actions.yaml
  nami/hasura/metadata/allow_list.yaml
  nami/hasura/metadata/cron_triggers.yaml
  nami/hasura/metadata/functions.yaml
  nami/hasura/metadata/query_collections.yaml
  nami/hasura/metadata/remote_schemas.yaml
  nami/hasura/metadata/tables.yaml
  nami/hasura/metadata/version.yaml
Due: none

Fix something
  alpi/chart/templates/deployment.yaml
  alpi/dev.sh
  alpi/pages/api/graphql.js
Due: build_alpi

Fix something
  hasura/src/metadata/actions.graphql
  hasura/src/metadata/actions.yaml
  hasura/src/metadata/tables.yaml
  nami/dev.sh
  nami/src/index.js
  nami/telepresence.log
Due: none

Fix something
  hasura/src/config.yaml
  hasura/src/metadata/actions.yaml
  nami/telepresence.log
Due: none

Fix something
  hasura/chart/templates/deployment.yaml
  nami/telepresence.log
Due: none

Fix something
  nami/.gitignore
  nami/telepresence.log
Due: none

Path conditions:
  build_alpi: any of: alpi/**/*
  build_cloudBuilder: any of: cloudBuilder/**/*
